<table>
  <tbody>
    <tr>
      <td><%= @profile.title %></td>
      <td><%= @profile.name %></td>
      <td><%= @profile.male %></td>
      <td><%= @profile.school %></td>
      <td><%= @profile.company %></td>
      <td><%= @profile.tel %></td>
      <td><%= image_tag @profile.avatar(:normal) %></td>
    </tr>
  </tbody>
</table>
<div>
<h1>信誉</h1>

<%= @profile.user.goodwill %>
</div>
<h1 style="color: red">工人经验区</h1>
<div style="border-bottom: 1px solid #666">
  <h2>current bids</h2>
  <% @current_bids.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>

<div style="border-bottom: 1px solid #666">
  <h2>current work</h2>
  <% @current_work.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>

<div style="border-bottom: 1px solid #666">
  <h2>passed work</h2>
  <% @passed_work.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>

<h1 style="color: red">企业经验区</h1>
<div style="border-bottom: 1px solid #666">
  <h2>招标中的工作</h2>
  <% @bidding_job.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>

<div style="border-bottom: 1px solid #666">
  <h2>进行中的工作</h2>
  <% @working_job.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>

<div style="border-bottom: 1px solid #666">
  <h2>完成的工作</h2>
  <% @passed_job.each do |c| %>
    <%= link_to c.title, c %>
  <% end %>
</div>
<div style="border-bottom: 1px solid #666">
  <h2>取得的经验</h2>
  <% @user.taggings.each do |tagging| %>
  <span style="margin:2px"> <%= "#{tagging.tag.name}---#{tagging.score}分" %></span>
  <% end %>
</div>
<%= link_to "center" , center_root_path()%>
<%= link_to "首页" , root_path()%>