<h3>修改密码</h3>


  <%= link_to "返回首页", root_path(), :class => "shortcut-button home left" %>
  <%= link_to "返回用户中心", center_root_path(), :class => "shortcut-button user left" %>

<div class="c"></div>
  <% @system_messages.each do |message| %>
<div class="message">
      <p><%=h message.content %></p>
      <p><%=h message.created_at %></p>
      <form action="<%= center_destroy_message_path(message) %>" method="post">
        <input class="destroy" id="messge_destroy" type="submit" value="删除"></input>
      </form>
</div>
  <% end %>
