<h2 style ="border-bottom: 2px solid black; margin: 2px; width: 200px">站内信</h2>
<table>
  <tbody>
    <% if params[:name] == 'send'   %>
      <tr>
        <% @sender_box.each do |message| %>
      <p>receiver:<%= message.receiver_id %></p>
      <p>content:<%= message.content -%></p>
      <form action="<%= center_destroy_message_path(message) %>" method="post">
        <input class="destroy" id="messge_destroy" type="submit" value="删除"></input>
      </form>
    <% end %>
  </tr>
<% end %>
<% if params[:name] == 'receive'%>
  <% @receiver_box.each do |message| %>
    <p>sender:<%= message.sender_id %></p>
    <p>content:<%= message.content %></p>
    <form action="<%= center_destroy_message_path(message) %>" method="post">
      <input class="destroy" id="messge_destroy" type="submit" value="删除"></input>
    </form>
  <% end %>
<% end %>
<% if params[:name] == 'system' %>
  <% @receiver_box.each do |message| %>
    <% if message.sender_id == 1 %>
      <p>系统信息:</p>
      <p>content:<%=h message.content %></p>
      <form action="<%= center_destroy_message_path(message) %>" method="post">
        <input class="destroy" id="messge_destroy" type="submit" value="删除"></input>
      </form>
    <% end %>
  <% end %>
<% end %>
</tbody>
</table>
