<div>
  忘记密码了吗？请输入您的email,我们会把修改密码的地址发到您的邮箱
</div>

<%= semantic_form_for(@user, :url => forgot_password_sender_path()) do |form| %>
  <%= form.inputs do %>
  <%= form.input :email, :input_html => { :class => "text-input medium-input" } %>
  <% end %>
<%= form.buttons do %>
  <%= form.commit_button :button_html => { :class => "button" ,:value => '发送'} %>
<% end %>
<% end %>
