<% content_for :banner do %>
<div id="ziqiangbang-banner">
        <div class="ziqiangbang-space left" style="width:200px; min-height:77px;"></div>
        <div class="total-preview left" align="left">
          <div style="padding:13px;" class="left">
            <b style="font-weight:bold;font-size:16px;color: #666">累计所有:</b>
            |
            <b style="color:#666"> ngo:0元</b>
            |
            <b style="color:#666"> 任务总数:
              <%= Post.all.count %>
              个</b>
            |
            <b style="color:#666"> 人才数:
              <%= User.all.count %>
              个</b>

          </div>
          <div class="ziqiangbang-logo2 right">

          </div>

        </div>
        <div class="ziqiangbang-space" style="width:800px; min-height:34px;"></div>
        <div class="c"></div>
        <div class="ziqiangbang-space left"></div>
        <div id="intro">

          <div style="text-shadow: 1px 1px 1px #666;font-size: 36px;font-weight: bold;font-family:黑体;" align="left">
			自强帮的初衷
          </div>

          <div style="padding:6px;font-size: 15px;font-weight: bold;font-family:黑体;" align="left">
            <p>自强帮由一个简单的想法，一个积极向上的生活，一个努力帮助他人的心态，</p>
            <p>一个只属于完善人格的每一位伙伴所存在的一个平台。</p>
          </div>

          <div align="left" style="padding:6px; font-size: 12px; width:400px" class="left">
            <ul class="welcome-list">
              <li>一个简单的想法，大学生是不是应该独立了？</li>
              <li>是不是应该不向家里伸手要生活费了？</li>
              <li>是不是应该抛弃恶习不断完善自己？</li>
              <li>那么我想告诉大家，自强帮就是“自立自强，帮助他人”</li>
              <li>一些需要帮助的人可能此时整需要我们的一臂之力。</li>
            </ul>
          </div>

        </div>

        <div id="enter" class="left">
          <div class="post-button">
            <%= link_to "发布任务", new_post_url %>
          </div>
          <div class="view-list-button">
            <%= link_to "任务列表", posts_url %>
          </div>
        </div>
      </div>
<% end %>


<div id="container">
  <div class="guider">
    <h2>How it works - 6 easy steps</h2>
    <div style="height:148px; ">
      <ul class="steps">
        <li class="step-model" style="width:40px;height: 10px;"> </li>
        <li class="step1 step-model"></li>
        <li class="arrow"></li>
        <li class="step2 step-model"></li>
        <li class="arrow"></li>
        <li class="step3 step-model"></li>
        <li class="arrow"></li>
        <li class="step4 step-model"></li>
        <li class="arrow"></li>
        <li class="step5 step-model"></li>
        <li class="arrow"></li>
        <li class="step6 step-model"></li>
      </ul>
    </div>
    <div class="step-item-detail">
      <div name ="step1" class="item left">注册登录后 用人单位和见习主管在大厅发布兼职任务</div>
      <div name ="step2" class="item left">自强帮注册用户 到任务列表竞拍兼职任务</div>
      <div name ="step3" class="item left">人数满后 企业确认支付 兼职金额到第三方 支付宝</div>
      <div name ="step4" class="item left">兼职工作拍得者为用人单位工作</div>
      <div name ="step5" class="item left">工作结束用人单位确认支付兼职费用</div>
      <div name ="step6" class="item left">双方互相评价，评选最佳兼职员工</div>
    </div>


  </div>

  <div class="latest-record">
    <div class="text"></div>
    <table class="mrw_list record" cellspacing="0" cellpadding="0" border="1">
      <tbody><tr style="" class="table-head">
          <th width="9%" align="left">任务赏金</th>
          <th width="34%" align="left">任务标题</th>
          <th width="9%">投标数量</th>
          <th width="11%">任务买家</th>
          <th width="16%">所需技能</th>
          <th width="9%">任务进度</th>
          <th width="12%">剩余时间</th>
        </tr>
        <!--神马网-->
        <!--神马网-->
        <!---->
        <% @posts.each do |post| %>
          <tr>
            <td><strong class="orange1">
                <%= "￥#{post.low_price}-#{post.high_price}" %>
              </strong></td>
            <td>
              <%= link_to post.title, post, :style=> "font-weight: normal;" %>
            </td>
            <td align="center">
              <%= post.comments.count %>
            </td>
            <td align="center">
              <%= link_to post.user.profile.name, worker_show_path(post.user.profile) %>
            </td>
            <td align="center">
              <%= join_skills(post) %>
            </td>
            <td align="center">
              <%= post.state %>
            </td>
            <td align="center"><u class="orange1">
                <%= how_long_over?(post) %>
              </u></td>
          </tr>
        <% end %>


      </tbody></table>
  </div>
</div>
<div class="ziqiangbang-space" style="width:1500px;height: 20px;"></div>
