<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


  <div>
    <h2>任务列表</h2>
    <ul class="record-list-nav">
	<li><%= link_to "返回首页", root_path(), :class => "left" %></li>
	<li><%= link_to "发布任务", new_post_path(), :class => "left" %></li>
</ul>
    <table class="mrw_list record" cellspacing="0" cellpadding="0" border="1">
      <tbody><tr style="" class="table-head">
          <th width="9%" align="left">任务赏金</th>
          <th width="34%" align="left">任务标题</th>
          <th width="9%">投标数量</th>
          <th width="11%">任务买家</th>
          <th width="16%">所需技能</th>
          <th width="9%">任务进度</th>
          <th width="12%">剩余时间</th>
        </tr>
        <!--神马网-->
        <!--神马网-->
        <!---->
        <% @posts.each do |post| %>
          <tr>
            <td><strong class="orange1">
                <%= "￥#{post.low_price}-#{post.high_price}" %>
              </strong></td>
            <td>
              <%= link_to post.title, post, :style=> "font-weight: normal;" %>
            </td>
            <td align="center">
              <%= post.comments.count %>
            </td>
            <td align="center">
              <%= link_to post.user.profile.name, post.user.profile %>
            </td>
            <td align="center">
              <%= join_skills(post) %>
            </td>
            <td align="center">
              <%= post.state %>
            </td>
            <td align="center"><u class="orange1">
                <%= how_long_over?(post) %>
              </u></td>
          </tr>
        <% end %>


      </tbody></table>
  </div>