<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>





<div class="c"></div>

<div style="margin-top: 15px;">
	<div class="record-list-left left">
          <%= image_tag "ad1.png"  %>
	</div>

	<div class="record-list-right left">
                
          <%= image_tag "ad3.gif" %>
		<% if @posts.blank? %>
			<p>暂无任务,您可以<%= link_to "添加任务", new_post_path() %>！</p>
		<% else %>
			<%= render "entries" %>
                        
		<% end %>
                        <%= image_tag "ad2.jpg" %>
	</div>
</div>