<table>
	<thead>
		<tr>
			<th>title</th>
			<th>description</th>
			<th>时间</th>
			<th>电话</th>
                        <th>金额</th>
                        <th>状态</th>
                        <th>发布时间</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @post.title %></td>
			<td><%= @post.description %></td>
			<td><%= @post.longtime %></td>
                        <td><%= @post.tel %></td>
                        <td><%= "#{@post.low_price} - #{@post.high_price}" %></td>
                        <td><%= @post.state %></td>
			<td><%= @post.created_at %></td>

		</tr>
	</tbody>
</table>
<h3 id="comments"><%= @comments.count %> Responses to &#8220;<%= @post.title %>&#8221;</h3>

	<ol class="commentlist">
		<% @comments.each do |comment| %>
			<li class="alt" id="comment-<%= comment.id %>">
				<div class="commentmetadata">
					<strong><a href="#" rel='external nofollow' class='url'> <%= comment.user.profile.name %> </a></strong>, on <%= comment.created_at %> Said&#58;
				</div>
				<p> <%= comment.content %> </p>
			</li>
		<% end %>
	</ol>

	<h3 id="respond">Leave a Reply</h3>


		<%= form_for @comment, :url => post_add_comment_path(@post), :method => :post, :html => { :id => "commentform" } do |f| %>

                <p>
			<%= f.text_field :price %>
		</p>
                <p>
			<%= f.text_area :content, :cols => 60, :rows => 10, :tabindex => 4 %>
		</p>

		<p>
			<input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
			<input type="hidden" name="comment_post_ID" value="92" />
		</p>

		<% end %>