
<div style ="border:2px solid #666; width:300px; margin: 4px">
  <h3>此任务需要的技能</h3>
  <% @post.skills.each do |skill|%>
    <%= skill %> |
  <% end %>
</div>
<table border = "1">
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>时间</th>
      <th>电话</th>
      <th>金额</th>
      <th>状态</th>
      <th>发布时间</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @post.title %></td>
      <td><%= @post.description %></td>
      <td><%= @post.longtime %>天</td>
      <td><%= @post.tel %></td>
      <td><%= "#{@post.low_price} - #{@post.high_price}" %></td>
      <td>
          <%= @post.state %>
      </td>
      <td><%= @post.created_at %></td>

    </tr>
  </tbody>
</table>
<div>
  <% if @post.user == current_user %>
    <% if @post.over == true %>
      已经被您结束了哦
      <% if @post.paid == false %>
        <%= link_to "付押金[?]", pay_sure_post_path(@post) %>
      <% else %>
        已经付款了
        <% if @post.finish == false %>
          <%= link_to "工人已经为我完成了工作！", finish_post_path(@post) %>
        <% else %>
          这个任务已经结束了

        <% end %>
      <% end %>
    <% else %>
      <%= link_to "结束任务", over_post_path(@post) %>
    <% end %>

  <% end %>
</div>
<h3 id="comments"><%= @comments.count %> Responses to &#8220;<%= @post.title %>&#8221;</h3>

<ol >
  <% @comments.each do |comment| %>
    <li style="border-bottom:1px solid #ccc">
      <div class="commentmetadata">
        <%= link_to "#{comment.user.profile.name}", profile_path(comment.user.profile) %>, on <%= comment.created_at %> Said&#58;
      </div>
      <% if @post.paid == true and comment.buyer_sure == true and comment.employer_sure == true %>
        <p>电话 <%= comment.user.profile.tel %> </p>
      <% end %>
      <p> <%= comment.content %> </p>
      <% if comment.user == current_user or @post.user == current_user%>
        <% @have_comment = true %>
        <p>
          <% if comment.buyer_sure == true %>
            企业已确认
          <% else %>
            企业考虑中
          <% end %>
          |
          <% if comment.buyer_sure == true %>
            <% if comment.employer_sure == true %>
              受雇佣者已确认
            <% else %>
              还没上线确认信息哦～
            <% end %>
          <% else %>
            等待中标
          <% end %>
        </p>
      <% end %>
      <p>
        <% if @post.over == false %>

          <% if @post.user == current_user %>
            <% if comment.buyer_sure != true %>
              <%= link_to "企业确认", buyer_sure_path(comment) %>
            <% else %>
              <%= link_to "取消确认", buyer_cancel_path(comment) %>
            <% end %>
          <% end %>

          <% if comment.user == current_user and comment.buyer_sure == true%>

            <% if comment.employer_sure != true %>
              <%= link_to "受雇者确认", employer_sure_path(comment) %>
            <% else %>
              <%= link_to "取消确认", employer_cancel_path(comment)  %>
            <% end %>
          <% end %>

        <% else %>
          <% if comment.buyer_sure == true and comment.employer_sure == true %>
            竞标成功！
          <% else %>
            竞标失败！
          <% end %>
        <% end %>
      </p>

      <% if @post.paid == true and comment.user == current_user%>
        <% if comment.verified == false %>
          <form accept-charset="UTF-8" action= "<%= verify_code_url %>"  name="verify_form" method="post">
            <input name="code" size="30" type="text" value=""></input>
            <input name="commit" type="submit" value="提交验证码" />
            <input type="hidden" name="id" value="<%= comment.id %>"></input>
          </form>
        <%  else %>
          <h1>验证成功</h1>

        <% end %>
      <% end %>

      <!-- 评价工人的地方-->
      <% if @post.user == current_user and @post.finish == true %>
        <div>
          <% if comment.employer_level == 0 %>
            评价工人
            <form accept-charset="UTF-8" action= "<%= report_employer_url %>"  name="report_form" method="post">
              <input name="content" size="30" type="text" value=""></input>
              <input name="level" type="text" value=""></input>
              <input name="commit" type="submit" value="提交评价" />
              <input type="hidden" name="id" value="<%= comment.id %>"></input>
            </form>
          <% end %>
        </div>
      <% end %>
      <!-- 评价企业的地方-->
      <% if comment.user == current_user and @post.finish == true%>
        <div>
          <% if comment.buyer_level == 0 %>
            评价企业
            <form accept-charset="UTF-8" action= "<%= report_buyer_url %>"  name="report_form" method="post">
              <input name="content" size="30" type="text" value=""></input>
              <input name="level" type="text" value=""></input>
              <input name="commit" type="submit" value="提交评价" />
              <input type="hidden" name="id" value="<%= comment.id %>"></input>
            </form>
          <% end %>
        </div>
      <% end %>

      <div>
        <% if comment.buyer_level != 0  %>
          企业评价:
          <%= "#{comment.buyer_content}-#{comment.buyer_level}" %><br />
        <% end %>

        <% if comment.employer_level != 0 %>
          工人评价:
          <%= "#{comment.employer_content}-#{comment.employer_level}" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
<% if @post.user != current_user and @have_comment != true%>
  <% if @post.over == false %>
    <h3 id="respond">竞标区</h3>


    <%= form_for @comment, :url => post_add_comment_path(@post), :method => :post, :html => { :id => "commentform" } do |f| %>

      <p>
        金额：
      </p>
      <p>
        <%= f.text_field :price %>
      </p>
      <p>
        内容：
      </p>
      <p>
        <%= f.text_area :content, :cols => 60, :rows => 10, :tabindex => 4 %>
      </p>

      <p>
        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
        <input type="hidden" name="comment_post_ID" value="92" />
      </p>

    <% end %>
  <% else %>
    您错过了投标的时间，别人都开始做啦！
  <% end %>
<% end %>

<%= link_to "返回", posts_path() %>