<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>自强帮 | 大学生兼职平台</title>
    <%= stylesheet_link_tag "formtastic", "header", "container", "footer" %>
    <%= javascript_include_tag 'jquery-1.5.1.js', 'application', 'rails.validations' -%>
    <%= csrf_meta_tag %>
  </head>
  <body class="home">
    <!--[if lt IE 7]
  <div style="border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;">
    <div style="position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;"><a href="#" onclick="javascript:this.parentNode.parentNode.style.display="none"; return false;"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg" style="border: none;" alt="Close this notice"/></a></div>
    <div style="width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;">
      <div style="width: 75px; float: left;"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg" alt="Warning!"/></div>
      <div style="width: 275px; float: left; font-family: Arial, sans-serif;">
        <div style="font-size: 14px; font-weight: bold; margin-top: 12px;">您正在使用一款非常落后的浏览器！！！</div>
        <div style="font-size: 12px; margin-top: 6px; line-height: 12px;">为了给您带来更好的浏览体验，请点击右侧图标，选择一款你喜欢的浏览器。</div>
      </div>
      <div style="width: 75px; float: left;"><a href="http://www.firefox.com" target="_blank"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg" style="border: none;" alt="Firefox"/></a></div>
      <div style="width: 75px; float: left;"><a href="http://www.browserforthebetter.com/download.html" target="_blank"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg" style="border: none;" alt="Internet Explorer 8"/></a></div>
      <div style="width: 73px; float: left;"><a href="http://www.apple.com/safari/download/" target="_blank"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg" style="border: none;" alt="Safari"/></a></div>
      <div style="float: left;"><a href="http://www.google.com/chrome" target="_blank"><img src="http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg" style="border: none;" alt="Google Chrome"/></a></div>
    </div>
  </div>
   -->
    <% if flash[:notice] -%>
      <div id="notice" style="color: #f00; border: 1px solid #666; margin: 5px;">
          <%= flash[:notice] %>
      </div>
    <% end -%>
    <div id="header">
      <div id="navigation">
        <div class="ziqiangbang-space"></div>
        <h5 id="ziqiangbang-logo"><a href="/">自强帮</a></h5>
        <div class="ziqiangbang-space left" style="width: 450px"></div>
        <div class="user-used left">
          <% if current_user!= nil and current_user.profile!=nil %>
            <div class="login left"> <%= link_to "hi,#{current_user.profile.name}", profile_path(current_user.profile), :class => "login" %> </div>
            <div class="signup left"><%=link_to "退 出",  logout_url, :class => "signup" %></div>
          <% else %>
            <div class="login left"> <%=link_to "登 录",  login_url, :class => "login" %> </div>
            <div class="signup left"><%=link_to "注 册",  new_user_url, :class => "signup" %></div>
          <% end %>
        </div>



        <div class="c"></div>
      </div>
      <%= yield :banner %>

    </div>

    <div id="container">
      <%= yield %>
    </div>
    <div class="ziqiangbang-space" style="width:1500px;height: 20px;"></div>
      <div id="footer">
        <div class="ziqiangbang-space" style="height: 40px;width: 1500px;"></div>
        <div class="who-am-i" align="left">
          <div class="who-about left">
            <h4>自强帮是做什么的? </h4>
            <p><a href="/">Ziqiangbang.com
                <span>(自强帮) 是一个提供大学生诚信兼职的平台</span></a>.
              在这里不管别人对你做了什么坏事，或者是你对别人做了什么事，反正不关我们的事！已经有了来自20个省市自治区，超过
              <span class="COUNT-REGISTERED-USER">2,730,471</span>个
              大学生及社会人士注册了我们网站的会员。
              这里反正是申明责任的地方
            </p>
            <div class="copy">
              <em>(c) Copyright 2011 Ziqiangbang Technology Pty Limited. All Rights Reserved.</em>
              <em>Ziqiangbang is a trademark of Ziqiangbang Technology Pty Limited (ACN 888 888 888)</em>
            </div>
          </div>
          <div class="twi left">
            <a href="#">twitter Our Jobs</a>
          </div>
          <div class="twi left">
            <a href="#">twitter Our Lancers</a>
          </div>
          <div class="footer-logo right">
          </div>
        </div>
      </div>

  </body>
</html>